.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.a {
  display: flex;
  flex-direction: row;
}

.date {
}
