#wrapper {
  margin: 0 auto;
}
.container {
  padding: 5vh;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.appts-container {
  display: table;
  flex-direction: column;
  width: 80%;
}
