.container {
  display: flex;
  flex-direction: column;
}

.field-container {
  width: 80%;
  padding-bottom: 3vh;
}

.images-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 12px;
}

.images-text {
  color: var(--text-grey-color);
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding-top: 1vh;
  padding-bottom: 4vh;
}

.image {
  margin-top: 1vh;
  max-width: 100%;
}

.date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1vh;
}

.date-text {
  color: var(--text-grey-color);
  font-weight: 400;
  width: 100%;
  text-align: right;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 4vh;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.section-header {
  font-weight: bold;
  font-size: var(--section-header-font-size);
  width: 80%;
  margin-bottom: 2vh;
}

.card-container {
  margin-bottom: 5vh;
}

.filter-container {
  padding-right: 1%;
  padding-bottom: 1vh;
}

.buttons-container {
  margin-bottom: 2vh;
}

.reject-button {
  display: inline-flex;
  width: 50%;
}

.accept-button {
  display: inline-flex;
  width: 50%;
}

.respond-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.no-quotes-text {
  color: var(--text-grey-color);
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding-top: 2vh;
}

.link-container {
  padding-bottom: 1vh;
}
