.container {
  display: block;
  flex-direction: column;
}

.quote-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.status-container {
  display: inline-flex;
  padding-bottom: 3vh;
}

.id-container {
  display: inline-flex;
  float: right;
  padding-bottom: 3vh;
}

.cost-container {
  display: inline-block;
  padding-bottom: 5vh;
}

.customer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.date-container {
  display: inline-flex;
  float: right;
  padding-bottom: 5vh;
}

.field-container {
  padding-bottom: 3vh;
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.section-header {
  font-weight: bold;
  font-size: var(--section-header-font-size);
  width: 100%;
  margin-bottom: 2vh;
}

.buttons-container {
  padding-top: 2vh;
}

.reject-button {
  display: inline-flex;
  width: 50%;
}

.accept-button {
  display: inline-flex;
  width: 50%;
}

.error-page-container {
  padding-top: 2vh;
  padding-left: 35%;
}

.comments-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 16px;
}
