.container {
  display: flex;
  flex-direction: column;
}

.card-container {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
}

.modal-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
}

.modal-title {
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
}

.modal-submit {
  width: 100%;
  margin-top: 3vh;
}

.filter-container {
  display: inline-block;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 1vh;
}
