.navbar {
  /* background-color: #f3f6ff; */
  height: 80px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  /* padding: 16px; */
}

.menu-bars {
  font-size: 2rem;
  background: none;
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 30px;
  height: 100%;
}

.menu-bars-active {
  background-color: #f3f6ff;
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 30px;
  height: 100%;
  font-size: 2rem;
}

.menu-bars:hover {
  cursor: pointer;
}

.nav-menu {
  background-color: #f3f6ff;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: -100%;
  transition: transform 0.3s ease-in-out;
}

.nav-menu-active {
  background-color: #f3f6ff;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.nav-text-item {
  margin-left: 10px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 20px;
  list-style: none;
  height: 60px;
}

.nav-text:hover {
  background-color: #d9f8ef;
  cursor: pointer;
}

.nav-text:active {
  background-color: var(--primary-color);
}

.nav-menu-items {
  width: 100%;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.logout-btn {
  float: right;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 0.5rem;
}
