.container {
  display: block;
  position: absolute;
  width: max-content;
  height: max-content;
  top: 115%;
  right: -30%;
  text-align: center;
  justify-content: center;
  background-color: #f3f6ff;
  border-radius: 4vmin;
  border-color: #939cb7;
  border-width: 0.1vh;
  border-style: solid;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 3vmin;
}

.profile-btn {
  zoom: 0.6;
}
