.card {
    display: inline;
    padding-bottom: 100px;
    margin-bottom: 100px;
    /* padding-left: 10vw; */
    border-width: 1mm;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 1vw;
    text-align: center;
    background-color: #f1f1f1;
}

.card-content {
    display: inline;
    padding: 300px;
    padding-bottom: 200px;
}