.button {
  background-color: var(--primary-color);
  border: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 0.2em;
  font-size: 4vmin;
  color: white;
  font-weight: 600;
}

.button:active {
  opacity: 0.8;
}
