.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name {
  font-size: 4vmin;
  color: var(--text-grey-color);
  font-weight: 400;
}

.text-input-container {
  margin-top: 1vh;
}

.asterisk {
  color: red;
  padding-left: 0.2em;
}

.link-container {
  margin-top: 1vh;
}
