html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --font-size: 4vmin;
  font-size: var(--font-size);
  --title-font-size: 6vmin;
  --section-header-font-size: 5vmin;

  /* Theme */
  --primary-color: #3fdeae;
  --red-color: red;
  --text-grey-color: #61697d;
  --text-input-color: #f3f6ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: column;
}

.flex-col {
  flex-direction: column;
}

.row-gap-large {
  row-gap: 8px;
}

.row-gap-small {
  row-gap: 4px;
}

.gap {
  gap: 10px;
}

.wrapper {
  padding: 0 20px 0 20px;
}

.card {
  margin: 2px;
  padding: 16px;
  background-color: #f3f6fe;
  border-radius: 12px;
}

.card.edit {
  background-color: #fff;
}

.card-field {
  width: 100%;
  padding-bottom: 3vh;
}

.input {
  background-color: var(--text-input-color);
  border: 0;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 0.8em;
  font-size: var(--font-size);
}

.input.select {
  width: 100%;
  padding-right: 1em;
}

.input:focus {
  outline: 1px solid var(--primary-color);
}

.input.error {
  outline: 1px solid var(--red-color);
}

.input.textarea {
  resize: vertical;
}

.form-header {
  font-weight: bold;
  font-size: var(--section-header-font-size);
  width: 80%;
  margin-bottom: 16px;
}

.capitalize {
  text-transform: capitalize;
}

.hover-scale-up:hover {
  scale: 102%;
  transition: all 0.2s ease-in-out;
}

.active-scale-down:active {
  scale: 98%;
  transition: all 0.2s ease-in-out;
}
