.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.username-container {
  padding-bottom: 3vh;
  width: 80%;
}

.password-container {
  padding-bottom: 1.5vh;
  width: 80%;
}

.forgot-password-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.forgot-password {
  color: var(--text-grey-color);
  margin-bottom: 4vh;
  font-size: 4vmin;
  color: #3fdeae;
}

.forgot-password:active {
  opacity: 0.5;
}

.forgot-password:hover {
  cursor: pointer;
}

.modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4vh;
}

.modal-title {
  font-size: 6vmin;
  font-weight: bold;
  text-align: center;
}

.modal-submit {
  width: 100%;
  margin-top: 3vh;
}
