.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.username-container {
  padding-bottom: 3vh;
  width: 80%;
}

.password-container {
  padding-bottom: 1.5vh;
  width: 80%;
}

.forgot-password-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.forgot-password {
  color: var(--text-grey-color);
  padding-bottom: 4vh;
  font-size: 4vmin;
  color: #3fdeae;
}

.forgot-password:hover {
  cursor: pointer;
}

.reset-password-title {
  font-size: 6vmin;
  font-weight: bold;
  text-align: center;
}
