.container {
  position: relative;
}

.input {
  background-color: var(--text-input-color);
  border: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 0.2em;
  font-size: 4vmin;
}

.cancel-button {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translate(0px, -40%);
  color: var(--red-color);
}

.cancel-button:hover {
  cursor: pointer;
}
